<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11447329731-8quv5hui8rlrad7k23snhedg25pf1cog.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11447329731-8quv5hui8rlrad7k23snhedg25pf1cog</string>
	<key>API_KEY</key>
	<string>AIzaSyACFdd7ZVHVuqTusu7r_MoaULxac83woxw</string>
	<key>GCM_SENDER_ID</key>
	<string>11447329731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Simran.BookShowWithTMDB</string>
	<key>PROJECT_ID</key>
	<string>bookshowtmdbdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>bookshowtmdbdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:11447329731:ios:d5c4b13fefb8cfe9461376</string>
</dict>
</plist>
